<ng-container *ngIf="!mostrarFormulario">
  <app-table-header
    [config]="companyHeaderConfig()"
    [searchFilter]="searchFilter"
    (searchChange)="onSearchChange($event)"
    (addButtonClick)="addCompany()">
  </app-table-header>

  <div *ngIf="data" class="rounded-lg bg-white shadow-sm">
    <app-master-table
      [data]="data"
      (click)="handleTableClick($event)"
      (paginationChange)="handlePaginationChange($event)">
    </app-master-table>
  </div>
</ng-container>

<ng-container>
  <app-form-company
    *ngIf="mostrarFormulario"
    [companyId]="companyIdToEdit"
    (goBack)="goToBack()">
  </app-form-company>
</ng-container>
